POSTGRES_USER=taskuser
POSTGRES_PASSWORD=change_me
POSTGRES_DB=taskdb

PORT=4000
ALLOWED_ORIGIN=http://localhost:5173
PGHOST=postgres
PGPORT=5432
PGUSER=taskuser
PGPASSWORD=change_me
PGDATABASE=taskdb

VITE_API_URL=http://localhost:4000
